<div class="container">
<div class="bs-docs-example">
<h1>New attachment</h1>

<%= render 'form' %>

<%= link_to 'Back', attachments_path %>
</div>
      <hr>
      <footer>
        <p>&copy; Thusast 2012</p>
      </footer>
</div> <!-- /container -->
