<div class="container">
<div class="bs-docs-example">
<p id="notice"><%= notice %></p>

<p>
  <b>文件名</b>
  <%= @attachment.filename %>
</p>

<p>
  <b>用  户</b>
  <%= @attachment.user.username %>
</p>


<a href="/attachments">回到列表</a>
</div>
      <hr>
      <footer>
        <p>&copy; Thusast 2012</p>
      </footer>
</div> <!-- /container -->
