<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h2>清华大学第23期种子基金累进支持项目</h2>
    <p class="lead">实施方案</p>
  </div>
</header>
<div class="container">

<div style="font-size:13px;">
<p>
<h3>1、 项目简介</h3>
清华大学种子基金累进支持项目是清华大学累进支持计划的重要组成部分，由校团委和教务处共同指导，校学生科协组织实施。本基金得到了清华大学学生经纬创新创业基金的支持，至今已经成功实施二十二期。
第23期种子基金从2012年春季学期开始，主要向在“挑战杯”竞赛中获奖的个人或团队，根据其所获奖项给予不同额度地累进支持；并对在其他学生课外学术科技活动中有优异表现的个人或团队提供项目培育的资金支持。
</p>
<p>
<h3>2、 支持方案</h3>
1. 第23期种子基金的面向对象为以下三类：<br/>
1) 上一届“挑战杯”竞赛二等奖及以上的第一、第二作者；以及三等奖的第一作者。<br/>
2) 清华大学赛事评级三星级以上赛事特、一等奖的第一、第二作者。<br/>
3) 在其他较高级别的课外学术科技活动中有突出表现的同学。<br/>
</p>
<p>
2. 第23期种子基金的支持额度以申请人上一学年参与课外学术科技活动所获成绩为主要依据。
1) 对于第一类申请对象，支持最高额度为20000元，资金支持额度与挑战杯获奖情况对应情况如下表所示。
<table class="table table-striped" style="width:500px">
<tr><th>
获奖情况</th><th>
最高支持额度</th>
</tr>
<tr><th>
特等奖第一作者</th><th>
20000</th>
</tr><tr><th>
特等奖第二作者，一等奖第一作者</th><th>
15000</th>
</tr><tr><th>
其他奖项与作者</th><th>
10000</th>
</tr>
</table>
2) 对于第二类及第三类申请对象，支持最高额度为10000元；将综合考虑申请人所参与的竞赛活动的级别及其在该竞赛活动中所获的奖项等级。
</p>
<p>
3. 累进支持的项目可以是对所参与的竞赛活动的获奖作品的改进，也可以是全新的项目。
4. 种子基金累进支持计划中，每位同学至多参加两个种子基金项目，并且只能以第一作者的身份申报一个种子基金项目。每个种子基金项目原则上不超过6人。
</p>
<p>
<h3>3、 实施方法</h3>
1. 申请<br/>
1) 第23期期种子基金申请时间为2012年9月26日至2012年10月27日。<br/>
2) 立项人需填写《第23期种子基金累进支持项目立项申请表》，申请表中经费申请表需要认真填写，经费申请表将作为资金审批和后续资金报销的重要参考依据。材料填写完毕后请项目指导老师签字并给出指导意见。<br/>
3) 院系科协回收申请材料，填写《第23期种子基金累进支持项目院系总表》，由院系科协、院系工作组组织对种子基金项目进行初评，并给出指导意见。<br/>
4) 校学生科协回收申请材料，学生课外学术科技累进支持基金工作组进行项目审批。<br/>
</p>
<p>
2. 报销与结题<br/>
1) 第23期种子基金的报销工作由校学生科协组织，包括春季学期初（中期报销）和结题后的两次集中报销。其中春季学期初（中期报销）的集中报销额度为总额度的50%。<br/>
2) 集中报销时项目作者根据项目资金情况提交报销申请，申请通过后凭正规发票进行报销。发票抬头填写“清华大学教育基金会”，具体提交发票的要求以报销前校学生科协工作人员通知为准。<br/>
3) 次年春季学期5月校学生科协组织本期种子基金的结题工作。项目作者需要提交结题材料包括《第23期种子基金累进支持项目结题报告》，由学生课外学术科技累进支持基金工作组进行项目结题审批。<br/>
</p>



清华大学校学生科协
2012年9月26日

</div>    

  <hr>
 <footer>
   <p>&copy; Thusast 2012</p>
  </footer>
</div> <!-- /container -->

