<header class="jumbotron subhead" id="overview">
  <div class="container">
<h2>清华大学第31届SRT挑战杯专项</h2>
    <p class="lead">FAQ</p>
  </div>
</header>
<div class="container">
<div style="font-size:13px">

<p>
<h4>1、什么是SRT挑战杯专项，目标是什么？</h4>
SRT挑战杯专项全称为“清华大学大学生研究训练计划[SRT]挑战杯专项”。SRT挑战杯专项是由校教务处、校团委及学生科协共同组织的旨在促进课外学术科技的一项活动，每期计划为一年，为立项人提供资金和学分支持。该项目充分考虑了同学参与课外学术科技活动的特点和需求，为有志于课外学术科技活动的同学提供支持。
</p><p>
<h4>2、SRT挑战杯专项与SRT的区别和联系？</h4>
SRT挑战杯专项是SRT的一个子项目，面向清华大学本科生，完全由学生自主立项，无需上网申报，但同样可获得2学分和资金的支持。活动的具体执行由学生科协负责。
</p><p>
<h4>3、参加SRT挑战杯专项，能有哪些收获？</h4>
（1）、获得资金支持，实现自己的项目创意；</br>
（2）、获得学分鼓励和成绩认可；</br>
（3）、得到老师指导，加快成长步伐。</br>
（4）、参加挑战杯竞赛，获得难忘经历；</br>
（5）、体会科技创新的乐趣和成功的喜悦。</br>
</p><p>
<h4>4、SRT挑战杯专项何时开始申报？怎样申报？</h4>
SRT挑战杯专项的申报工作于每年10月进行，通过院系获得SRT挑战杯专项申报表，确定指导老师，填表完毕后交至院系科协。
</p><p>


<h4>5、哪些人可以申报立项？团队人数有何限制？</h4>
SRT挑战杯专项面向清华大学在校本科生，作为第一立项人只能申报一个项目，每人参加的项目总数不超过两项。同一个项目的申报人原则上不超过4人。
</p><p>
<h4>6、每个项目的支持资金额度是多少？</h4>
通常每个项目的资金支持额度为两千元。凭发票在院系科协（学术中心）处报销。
</p><p>
<h4>7、我交了立项申请，就算完成立项了吗？</h4>
不是的。申报材料需交至院系学生科协，由院系组建的“SRT挑战杯专项工作组”通过答辩等形式对申报项目进行初步审核，确定项目是否具备申报资格，并给出立项意见，最后以校学生科协给出的立项公告为准。
</p><p>
<h4>8、我是一个低年级的学生，怕因自己能力有限而使项目进行不下去，怎么办？</h4>
当项目进入瓶颈时，无论是技术问题还是资金问题，都可以向指导老师和院系科协求助。
</p><p>
<h4>9、校科协在学生立项过程中的主要职能是什么？</h4>
校科协负责制定院系工作指导手册、进行SRT挑战杯专项宣传，解答同学的疑问。此外，同学们的申报表将由院系学生科协交至校学生科协，校学生科协将信息汇总后报送至学校教务处和校团委，审批后将公布立项项目名单。
</p><p>




<h4>10、何谓中期审查？</h4>
为考核监督SRT挑战杯专项立项项目的项目进度，特设项目中期审查。中期审查于每年3月至4月举行，由院系学生科协在院系SRT挑战杯专项工作组的指导下完成，采取申请人答辩的形式进行。评审教师根据现场的答辩和立项人提供的项目资料进行打分，并给出三个等级：</br>
	（1）优秀：项目阶段性成果优秀，由院系确认有资格进入“挑战杯”后续评审的项目。</br>
	（2）良好：项目阶段性成果良好，但院系认定不具资格参加“挑战杯”后续评审的项目。</br>
	（3）不通过：项目进展缓慢，且潜力很小，由院系评审认定为不通过的项目。</br>
</p><p>
<h4>11、我们何时能够得到报销？ </h4>
中期审查结束后，优秀和良好的项目作者可以向院系科协提出报销申请，每个项目报销额度不能大于总额度的50%，申请通过后可以凭发票向院系科协进行报销。
项目终期结题后，结题通过的项目作者可以凭发票到院系科协进行剩余额度的报销。中期审查不通过或终期未结题的项目不给予资金支持和学分认证。
</p><p>
<h4>12、我们的项目应在何时准备结题？怎样结题？</h4>
项目结题工作于春季学期第14周进行，由校学生科协组织，院系学生科协执行。立项人将结题报告交至院系学生科协，院系学生科协汇总后交至校学生科协。
</p><p>
<h4>13、怎样能够得到学分认证？是否结题后必须进行学分认证？</h4>
所有项目在提交完合格的结题报告后，可获得学分认证，每一个项目所有立项人均获得两学分。项目作者也可以选择不申请学分。
</p><p>
<h4>14、SRT挑战杯专项分数是怎样评定的？有何标准？</h4>
对在“挑战杯”竞赛中获奖的项目，完成结题后给与相应的分数，分数与项目完成情况，也就是挑战杯中的成绩有明确的对应关系，具体如下：
<table class="table table-striped" style="width:500px">
<tr><th>
奖项</th><th>
SRT成绩</th>
</tr><tr>
<td>
特等奖（不超过6个）</td><td>
100</td>
</tr><tr><td>
一等奖（10个）</td><td>
98</td>
</tr><tr><td>
二等奖（30个）</td><td>
95</td>
</tr><tr><td>
三等奖（60个）</td><td>
90</td>
</tr><tr><td>
未获奖</td><td>
不超过89分</td>
</tr>
</table>
	对于结题通过但未获奖的项目，由指导教师给出作品终审意见，并由院系工作组给出最终成绩，原则上不得超过89分。
</p><p>
<h4>15、项目性质有什么要求？是否只能是理工类项目可以做？</h4>
作为挑战杯专项，我们可以用挑战杯作品的分类来说明立项种类：“挑战杯”竞赛的参赛作品可以分为自然科学论文、哲学社会科学类社会调查报告和学术论文、科技发明制作三大类，涵盖了信息技术、机械控制等六个方向，覆盖了全校各个院系。也就是说无论是自然科学实验研究、社会调研、还是科技发明制作，无论是文科还是理工科，只要有可行的想法，都可以申报立项。

					校教务处
                  校团委
                      校学生科协
                        2012年9月

</div>    

  <hr>
 <footer>
   <p>&copy; Thusast 2012</p>
  </footer>
</div> <!-- /container -->
