<div class="jumbotron masthead">
	  <div class="container">
		<h2>清华大学挑战杯&种子基金</h2></p>
		<p><a data-toggle="modal" href="/attachments" class="btn btn-primary btn-large" style="width:300px">项目管理</a></p>
		<ul class="masthead-links">
		  <li><a href="http://www.thusast.org">Powered by 31st Thusast</a></li>
		  <li>Version 1.0</li>
		</ul>
	  </div>
	</div>
           
 <div class="container">
	


      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h3>SRT挑战杯专项项目指南</h3>
          <p>项目简介 清华大学种子基金累进支持项目是清华大学累进支持计划的重要组成部分，由校团委和教务处共同指导，校学生科协组织实施。本基金得到了清华大学学生经纬创新创业基金,至今已经成功实施二十二期。</p>
          <p><a class="btn" href="annoncement/1">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h3>种子基金累进支持项目</h3>
          <p>清华大学大学生研究训练计划[SRT]挑战杯专项 项目指南 一. 总体介绍 “清华大学大学生研究训练计划[SRT]挑战杯专项”（以下简称SRT挑战杯专项）是清华大学学生课外学术科技项目累进支持体系中的重要环节 </p>
          <p><a class="btn" href="annoncement/2">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h3>挑战杯专项FAQ</h3>
          <p>什么是SRT挑战杯专项，目标是什么？<br/>
	     SRT挑战杯专项与SRT的区别和联系？<br/>
参加SRT挑战杯专项，能有哪些收获？<br/>
SRT挑战杯专项何时开始申报？怎样申报？</p>
          <p><a class="btn" href="annoncement/3">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Thusast 2012</p>
      </footer>

    </div> <!-- /container -->
